<?xml version="1.0"?>
<config>
  <modules>
    <Hackthon_Pirates>
      <version>0.1.0</version>
    </Hackthon_Pirates>
  </modules>
  <frontend>
    <routers>
      <hackthon_pirates>
        <use>standard</use>
        <args>
          <module>Hackthon_Pirates</module>
          <frontName>pirates</frontName>
        </args>
      </hackthon_pirates>
    </routers>
    <layout>
            <updates>
                <hackthon_pirates>
                    <file>pirates.xml</file>
                </hackthon_pirates>
            </updates>
        </layout>
  </frontend>   
  <global>
    <helpers>
      <hackthon_pirates>
        <class>Hackthon_Pirates_Helper</class>
      </hackthon_pirates>
    </helpers>
    <models>
      <hackthon_pirates>
        <class>Hackthon_Pirates_Model</class>
      </hackthon_pirates>
    </models>
    <blocks>
      <hackthon_pirates>
        <class>Hackthon_Pirates_Block</class>
      </hackthon_pirates>
    </blocks>
  </global>
  <admin>
        <routers>
            <hackthon_pirates>
                <use>admin</use>
                <args>
                    <module>Hackthon_Pirates</module>
                    <frontName>pirates</frontName>
                </args>
            </hackthon_pirates>
        </routers>
    </admin>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <pirates_options>
                      <title>Bitbucket Settings</title>
                    </pirates_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config> 